#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .navbar-brand img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
}

.main-nav, .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav ul li a:hover, .main-nav ul li.active > a, .main-nav li:hover > a {
    color: #007bff;
    text-decoration: none;
}

.main-nav ul li a {
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (max-width: 991px) {
    #header {
      height: 60px;
      padding: 10px 0;
    }
  
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }

  }
  